---
BasedOnStyle: llvm
AlignConsecutiveAssignments: true
#AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
#DerivePointerAlignment: true
PointerAlignment: Left
ColumnLimit: 0
